# Basic
test_name               S        circ_lap_l
clear_data              B        1
save_figs               B        1
using_cuda              B        1
using_fp32              B        0
hide_tqdm_bar           B        1

# Domain
domain_seed             I        815
## segment, circle, or polygon
domain_type             S        circle
is_unit_circle          B        1
## segment: left bount, rignt bound
## circle: centerx, centery, radius
## polygon: vtx0x, vtx0y, vtx1x, vtx1y, ...
domain_params           F        0.0 0.0 1.0
## segment: dd ncell, dd level
## circle: dd minarea, dd level, dd boundary points
## polygon: dd minarea, dd level
domain_dd_params        F        0.005 2 50
## segment: quad ncell, degree
## circle: quad minarea, degree
## polygon: quad minarea, degree
domain_quad_params      F        0.0005 2

# PDE
## currently only supports
## 1. Laplacian: lap
## 2. Shifted Laplacian: slap
pde_type                S        vlap
c_value                 F        1

# Model
eps                     F        2e-02
use_diff                B        1
print_info              B        1
models_name             S        onlylarge
## params for each model: neurons each layer, num layers
models_params           I        50 5
models_seed             I        906
models_alpha            F        0.0
models_beta             F        1.0

# Data
## near points are samples within eps*r_near
r_near                  F        5.0
## samples: y on quad point, y random in domain, boundary for each y, near for each y, entire domain for each y
nsamples                I        30 30 50 50 50

# Training
training_name           S        onlylarge
training_seed           I        127
## lock and inuse
training_lock           B        0
training_inuse          B        1
training_weights        F        1.0 1.0 1.0
## sample update frequency:
data_update_freq        I        4
## adam its, lbfgs its
maxits_adam             I        30
maxits_lbfgs            I        0
## print loss freq:
plot_loss_freq          I        4
## learning rate:
adam_lr                 F        10e-04
adam_lr_stepsize        I        4000
adam_lr_gamma           F        1.0
lbfgs_lr                F        -1.0
lbfgs_lr_stepsize       I        1000
lbfgs_lr_gamma          F        1.0